body{
    background-color: rgb(121, 156, 156);
}

h1{
text-align: center;
color: rgb(86, 4, 4);
}

p{
    font-style: oblique;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
}